@model TravelTripProject.Models.Classes.Blog

@{
    ViewBag.Title = "NewBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Blog Ekleme</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Heading)
    @Html.TextBoxFor(x => x.Heading, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImange)
    @Html.TextBoxFor(x => x.BlogImange, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>


</form>
